
.tokenSect {
    -fx-padding: 30px 0px 20px 20px;
}

.labelToken {
    -fx-margin: 10 0 0 0;
}

.tokenInput {
    -fx-min-width: 300px;
    -fx-margin-top: 10px;
}

#buttonDirectory {
    -fx-background-color: rgb(22, 31, 28);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 14, 30, 0.6), 10, 0.3, 0, 0);
    -fx-transition: all 0.3s ease-in-out;
    -fx-border-color: transparent;
}

#buttonDirectory:hover {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 8;
    -fx-border-width: 2;
}

#buttonSave {
    -fx-background-color: linear-gradient(to right, #00c6ff, #0072ff);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 114, 255, 0.6), 10, 0.3, 0, 0);
    -fx-transition: all 0.3s ease-in-out;
    -fx-border-color: transparent;
}

#buttonSave:hover {
    -fx-background-color: transparent;
}

.timeSec {
    -fx-padding: 30px 0px 20px 20px;
}

.buttonSave {
    -fx-padding: 30px 0px 20px 20px;
}